* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: 3px solid #f1f1f1;
  transition: 0.3s;
}
nav:hover {
  box-shadow: 0 7px 6px -5px rgba(0, 0, 0, 0.5);
}

nav h1:hover {
  transition: 1s;
  color: #d2691e;
  transform: rotate(360deg);
}

main {
  padding: 10% 0;
}

.imgContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
  height: 400px;
}
.imgContainer img {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #d2691e;
  transition: 0.7s;
}
.imgContainer img:hover {
  transform: translateY(-20px);
  box-shadow: 0 15px 10px -5px rgba(0, 0, 0, 0.5);
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  padding: 2%;
  height: 500px;
  margin: 0 3%;
  background-color: rgb(127, 255, 212);
  transition: 1s;
}
.aboutContainer * {
  display: inline-block;
}

.aboutContainer div {
  position: absolute;
  z-index: -1;
  left: 12%;
  background-color: rgba(248, 63, 63, 0.7);
  height: 500px;
  width: 40%;
  transition: 1s;
}
