* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  border-bottom: 3px solid #f1f1f1;
  transition: 0.3s;
}
nav:hover {
  box-shadow: 0 7px 6px -5px rgba(0, 0, 0, 0.5);
}

nav h1:hover {
  transition: 1s;
  color: #d2691e;
  transform: rotate(360deg);
}

main {
  padding: 10% 0;
}
.bgimage {
  background: no-repeat center/cover url("Rback.jpg");
}

.imgContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 95%;
  height: 200px;
  margin: 3rem 0;
}
.imgContainer div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #d2691e;
  transition: 0.7s;
}
.imgContainer div:nth-of-type(1) {
  background-image: url("https://scontent.fmnl14-1.fna.fbcdn.net/v/t1.6435-9/165755389_10219873341247391_3187763609326813049_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEXt5YsyZQAaB-jngnYGSqErQeeCQPxyvKtB54JA_HK8oxb_ruopmCnmRe4L0x-lwPDIFwqcLDQJyMvA_B_FLeo&_nc_ohc=VG8nLET6UNUAX_-K68W&_nc_oc=AQnasveuLu8M9tNiodCqy7aeTDfRZYazD2lu5BedzDRZ-RPCPHYvd8QVN_5Ys-4ZpVg&_nc_ht=scontent.fmnl14-1.fna&oh=d14eedcb8c9f13fea8e50bd12e6498e8&oe=617C6509");
  background-size: cover;
  background-position: center;
}
.imgContainer div:nth-of-type(2) {
  background-image: url("https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.18169-9/10171193_1416116545327558_5844744475086633069_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeEctvYEMdV58XcgTX_M0ZWzse0nnPIw6M2x7Sec8jDozd5NXh2vCssfealoN9uPX6KbpCFiJ46i0PXEHg05t2ta&_nc_ohc=-iu7fj07YkQAX9Y_7Rn&_nc_ht=scontent.fmnl9-1.fna&oh=42a81910fe6a435c3ff41f8b3c69fc9a&oe=617EE75E");
  background-size: cover;
  background-position: center;
}
.imgContainer div:nth-of-type(3) {
  background-image: url("https://scontent.fmnl14-1.fna.fbcdn.net/v/t1.6435-9/133964791_5649412938418042_8896809803079696685_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeGPDobA3XiAuiLc6BSg-bND8osH0i6I4N7yiwfSLojg3k7LFDJMk_IOzrgvOtCc1MKKN1f_6WlFCEYqI_Qi5WA0&_nc_ohc=auDx-zzMP8cAX9U5TzF&_nc_ht=scontent.fmnl14-1.fna&oh=f1d4d6b07722216082b79b80f67664dc&oe=617DDDCB");
  background-size: cover;
  background-position: center;
}
.imgContainer div:nth-of-type(4) {
  background-image: url("https://scontent.fmnl9-2.fna.fbcdn.net/v/t1.6435-9/196556966_4812266278787636_7210887269918953405_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHteLykU9RAk3rC4DK-isFlJoGkORxShogmgaQ5HFKGiOyvsNOGuRpt3q0voldK3AjOFPYQB7a97Pv4dSinM65y&_nc_ohc=3G5RY5WIy5cAX9fvegC&_nc_ht=scontent.fmnl9-2.fna&oh=6c12ad248de29c4319565b65959f688b&oe=617F27E1");
  background-size: cover;
  background-position: center;
}
.imgContainer div:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 6px -5px rgba(0, 0, 0, 0.5);
  border-color: rgb(252, 248, 18);
}
.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
  padding: 2%;
  height: 500px;
  margin: 0 3%;
  border-radius: 1rem;
  background-color: #289fcec0;
  transition: 1s;
  min-width: 250px;
}
.aboutContainer p,
h2 {
  color: #fff;
}

.middle-section {
  background-color: #e1f1ffa1;
  width: 100%;
  height: 40vh;
}

@media (max-width: 925px) {
  .aboutContainer,
  .aboutContainer div {
    height: 45%;
  }
  .aboutContainer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 653px) {
  .aboutContainer,
  .aboutContainer div {
    height: 35%;
  }
  .aboutContainer p {
    font-size: 0.7rem;
  }
  .imgContainer {
    margin: 5rem 0 0.5rem 0;
  }
  .imgContainer div {
    height: 7rem;
  }
}

@media (max-width: 413px) {
  .aboutContainer p {
    font-size: 0.6rem;
  }
  .imgContainer {
    margin: 5rem 0 0.5rem 0;
  }
  .imgContainer div {
    height: 6rem;
  }
}
@media (max-width: 377px) {
  .aboutContainer,
  .aboutContainer div {
    height: 25%;
  }
  .aboutContainer p {
    font-size: 0.5rem;
  }
  .imgContainer {
    margin: 5rem 0 0.2rem 0;
  }
  .imgContainer div {
    height: 5rem;
  }
}
